In [34]:
import zipfile
with zipfile.ZipFile('/datadisk1/mtech/Pratilipi/Pratilipi/ds-assignment.zip', 'r') as zip_ref:
    zip_ref.extractall('/datadisk1/mtech/Pratilipi/Pratilipi/')

In [1]:
import numpy as np
import pandas as pd

In [36]:
meta = pd.read_csv('/datadisk1/mtech/Pratilipi/Pratilipi/ds-assignment/metadata.csv')
meta.head()

,author_id,pratilipi_id,category_name,reading_time,updated_at,published_at
0,-3418949279741297,1025741862639304,translation,0,2020-08-19 15:26:13,2016-09-30 10:37:04
1,-2270332351871840,1377786215601277,translation,171,2021-01-21 16:27:07,2018-06-11 13:17:48
2,-2270332352037261,1377786215601962,translation,92,2020-09-29 12:33:57,2018-06-12 04:19:12
3,-2270332352521845,1377786215640994,translation,0,2019-10-17 09:03:37,2019-09-26 14:58:53
4,-2270332349665658,1377786215931338,translation,47,2020-05-05 11:33:41,2018-11-25 12:28:23

In [37]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954501 entries, 0 to 954500
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   author_id      954501 non-null  int64
 1   pratilipi_id   954501 non-null  int64
 2   category_name  954501 non-null  object
 3   reading_time   954501 non-null  int64
 4   updated_at     954501 non-null  object
 5   published_at   954494 non-null  object
dtypes: int64(3), object(3)
memory usage: 43.7+ MB

In [2]:
#Setting initial value of the counter to zero
rowcount  = 0
#iterating through the whole file
for row in open("/datadisk1/mtech/Pratilipi/Pratilipi/ds-assignment/user-interactions.csv"):
    rowcount+= 1
#printing the result
print("Number of lines present:-", rowcount)

Number of lines present:- 120405409

In [3]:
#pip install dask

In [2]:
import dask.dataframe as dd

data = dd.read_csv('/datadisk1/mtech/Pratilipi/Pratilipi/ds-assignment/user-interactions.csv')
data.head()

            user_id      pratilipi_id  read_percent               updated_at
0  5506791963854965  1377786220672965         100.0  2022-03-23 00:08:26.227
1  5506791979071996  1377786219742624          29.0  2022-03-23 00:08:26.220
2  5506791980256358  1377786217096334          22.0  2022-03-23 00:08:26.020
3  5506791988747277  1377786224767880         100.0  2022-03-23 00:08:25.306
4  5506791992372558  1377786218111595         100.0  2022-03-23 00:08:25.250

In [ ]:
# No of records

In [41]:
data.shape[0].compute()

120405408

In [ ]:
# changing dtype of updated_at from object to datetime

In [3]:
data["updated_at"] = data["updated_at"].map_partitions(pd.to_datetime,format='%Y-%m-%d',meta = ('datetime64[ns]'))

In [4]:
data.dtypes

user_id                  int64
pratilipi_id             int64
read_percent           float64
updated_at      datetime64[ns]
dtype: object

In [ ]:
# finding number of null values

In [7]:
data.isna().sum(axis=0).compute()

user_id         0
pratilipi_id    0
read_percent    0
updated_at      0
dtype: int64

In [ ]:
# making two partitions of the dataset

In [5]:
parted_df = data.repartition(npartitions=2)

In [ ]:
#taking up half the dataset

In [8]:
new_data = parted_df.partitions[0]

In [9]:
new_data.shape[0]

Delayed('int-10a14d86-b63d-4f50-94d3-3fb0eaa12c65')

In [10]:
new_data.shape[0].compute()

60122044

In [ ]:
# sorting the partition by updated_at

In [11]:
df2 = new_data.sort_values('updated_at').compute()

In [12]:
df2.head()

,user_id,pratilipi_id,read_percent,updated_at
1002014,5506791965571465,1377786227833301,100.0,2022-02-22 01:45:19.618
1002013,5506791950835946,1377786216635884,100.0,2022-02-22 01:45:19.716
1002012,5506791965247986,1377786225144509,100.0,2022-02-22 01:45:20.006
1002011,5506791987868001,1377786223485379,100.0,2022-02-22 01:45:20.137
1002010,5506791956649366,1377786227832251,100.0,2022-02-22 01:45:20.141

In [16]:
df2.tail()

            user_id      pratilipi_id  read_percent              updated_at
4  5506791992372558  1377786218111595         100.0 2022-03-23 00:08:25.250
3  5506791988747277  1377786224767880         100.0 2022-03-23 00:08:25.306
2  5506791980256358  1377786217096334          22.0 2022-03-23 00:08:26.020
1  5506791979071996  1377786219742624          29.0 2022-03-23 00:08:26.220
0  5506791963854965  1377786220672965         100.0 2022-03-23 00:08:26.227

In [17]:
df2.shape[0]

60122044

In [18]:
df2 = df2.reset_index(drop=True)

In [21]:
df2.tail()

,user_id,pratilipi_id,read_percent,updated_at
60122039,5506791992372558,1377786218111595,100.0,2022-03-23 00:08:25.250
60122040,5506791988747277,1377786224767880,100.0,2022-03-23 00:08:25.306
60122041,5506791980256358,1377786217096334,22.0,2022-03-23 00:08:26.020
60122042,5506791979071996,1377786219742624,29.0,2022-03-23 00:08:26.220
60122043,5506791963854965,1377786220672965,100.0,2022-03-23 00:08:26.227

In [ ]:
# saving the dataframe for further use

In [15]:
df2.to_csv('data.csv')

In [23]:
pandas_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13171504 entries, 144359 to 0
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       int64
 1   pratilipi_id  int64
 2   read_percent  float64
dtypes: float64(1), int64(2)
memory usage: 402.0 MB

In [22]:
df2.isnull().sum()

user_id         0
pratilipi_id    0
read_percent    0
updated_at      0
dtype: int64

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60122044 entries, 0 to 60122043
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       int64
 1   pratilipi_id  int64
 2   read_percent  float64
 3   updated_at    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 1.8 GB